
@font-face {
	font-family: 'Stolzl';
	font-style: normal;
	font-weight: normal;
	src: local('Stolzl'),
		url('../assets/fonts/Stolzl-Regular.woff2') format('woff2');
}


@font-face {
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham Pro'),
		url('../assets/fonts/GothamPro.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: bold;
	src: local('Gotham Pro'),
		url('../assets/fonts/GothamPro-Bold.woff2') format('woff2');
}